.uinfomenu {
    /*position:relative;*/
    right: 840px;
    display: block;
    width: 70px;
    height: 60px;
    margin-top:-10px;
    padding:0;
    z-index:999;
    display:none;
}

.separator{
	color: #e0e0e0;
	font-size: 30px;
	line-height: 35px;
	margin: 0 2px;
	float: left;
}

.welcome ul li ul li{
    float:none;    
    margin:0;
}

.welcome ul li ul li a{
    background:none;
}

.welcome ul li ul li a:hover{
     background:#b2cbba; 
     color:#0f4a68;
}

.welcome ul li ul{    
    display:none;
    width:70px;
    margin-top:0px;
}

.welcome ul li:hover ul {
    position:absolute;
    display:block
}   

.welcome ul li{
    float:left;
    margin-left:5px;
}